{% extends 'base.html.jinja' %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block content %}
  <article>
    <h1>{{ article.title }}</h1>
    {% with link_to_category=true %}
      {% include 'article-header.html.jinja' %}
    {% endwith %}
    {{ article.content|replace('<h2>Přílohy:</h2>', '<h2 class="text-lg">Přílohy:</h2>') }}
  </article>
{% endblock %}
