{% extends 'base.html.jinja' %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block header %}
  <h1>{{ article.title }}</h1>
{% endblock %}

{% block content %}
  {{ article_header(article, link_to_category=true) }}
  <div class="prose">
    {{ article.content|postprocess_content(smaller_headers=article.sticky) }}
  </div>
{% endblock %}
