{% extends 'base.html.jinja' %}

{% block title %}
  {{ category }}
{% endblock %}

{% block content %}
  <div class="-mt-4 py-3 text-center text-xl bg-base-300">{{ category }}</div>
  {% for article in articles|sort_articles %}
    <article
      class="
        prose-h1:text-3xl prose-h2:text-xl prose-h3:text-lg
        {{ 'my-4 px-4 pt-3 pb-2 border border-base-300 bg-base-200' if article.sticky else 'prose-h1:mt-8' }}
      ">
      <h1><a href="/{{ article.url }}">{{ article.title }}</a></h1>
      {% include 'article-header.html.jinja' %}
      {{ article.summary }}
      {% if article.content != article.summary %}
        <div class="-mt-4 {{ '-mb-4' if not article.sticky }} text-right">
          <a href="/{{ article.url }}" class="italic">číst dál</a>
        </div>
      {% endif %}
    </article>
  {% endfor %}
{% endblock %}
