{% macro article_header(article, link_to_category=false) %}
  <p class="italic">
    {{ article.locale_date }}
    {% if article.author %}
      – {{ article.author }}
    {% endif %}
    {% if link_to_category %}
      – <a href="/{{ article.category.url }}">{{ article.category }}</a>
    {% else %}
      – {{ article.category }}
    {% endif %}
  </p>
{% endmacro %}
